* {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: hsl(213, 19%, 18%);
    padding: 1.5rem;
    max-width: 350px;
    border-radius: 1rem;
    margin: 0;
}

.container .rating .ratingStarIcon {
    background-color: hsl(213, 19%, 25%);
    padding: .625rem;
    border-radius: 50%;
}

.container .rating .ratingTitle {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: .5rem;
}

.container .rating .ratingText {
    font-size: 15px;
    font-weight: 400;
    color: hsl(216, 12%, 54%);
}

.container .rating .ratingInput {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.container .rating .ratingInput .input {
    padding: .8rem 1rem;
    background-color: hsl(213, 19%, 25%);
    border: none;
    border-radius: 50%;
    color: hsl(216, 12%, 54%);
}

.container .rating .ratingInput .input:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.container .rating .ratingInput .input:focus {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.container .rating .ratingSubmit {
    border: none;
    padding: .8rem;
    width: 100%;
    border-radius: 2rem;
    font-size: .825rem;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
    text-transform: uppercase;
}

.container .rating .ratingSubmit:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.container .thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: .5rem;
    margin: 0;
}

.container .thank-you .yourSelection {
    background-color: hsl(213, 19%, 25%);
    color: hsl(25, 97%, 53%);
    padding: .625rem;
    border-radius: 3rem;
    font-size: 14px;
    opacity: .8;
}

.container .thank-you .thanksText {
    color: hsl(216, 12%, 54%);
    font-size: 15px;
    margin-bottom: 0;
}

.thank-you.hidden, .rating.hidden {
    display: none;
}




















.attribution {
    font-size: 11px;
    text-align: center;
    margin: 0;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }